In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import rc, rcParams

warnings.filterwarnings('ignore')
rc('font', family='AppleGothic')
rcParams['axes.unicode_minus']= False

In [2]:
train = pd.read_csv("data/2_train.csv")
test = pd.read_csv("data/2_test.csv")

train.shape

(2952, 67)

In [3]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,K,L,M,N,O,ERROR1_lb,나머지,분양상가,분양아파트,등록차량수
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,...,0,0,0,0,0,0,1,0,0,1015.0
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,...,0,0,0,0,0,0,1,0,0,1015.0
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,...,0,0,0,0,0,0,1,0,0,1015.0
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,...,0,0,0,0,0,0,1,0,0,1015.0
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,...,0,0,0,0,0,0,1,0,0,1015.0

In [22]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철', '버스정류장', '단지내주차면수', 'ERROR1',
       '임대건물구분_lb', '상가', '아파트', '지역_lb', '강원도', '경기도', '경상남도', '경상북도',
       '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '전라남도',
       '전라북도', '제주특별자치도', '충청남도', '충청북도', '공급유형_lb', '공공분양', '공공임대(10년)',
       '공공임대(50년)', '공공임대(5년)', '공공임대(분납)', '국민임대', '영구임대', '임대상가', '장기전세',
       '행복주택', '자격유형_lb', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
       'K', 'L', 'M', 'N', 'O', 'ERROR1_lb', '나머지', '분양상가', '분양아파트', '등록차량수',
       '총세대수_lb'],
      dtype='object')

In [23]:
train.dtypes

단지코드        object
총세대수         int64
임대건물구분      object
지역          object
공급유형        object
            ...
나머지          int64
분양상가         int64
분양아파트        int64
등록차량수      float64
총세대수_lb     object
Length: 68, dtype: object

### 총세대수 자료형을 numeric으로 변경

원해 object 자료형이었던 '총세대수'자료형을 숫자형으로 바꿔준다.

* 참고: https://sikaleo.tistory.com/39

In [6]:
train['총세대수'] = pd.to_numeric(train['총세대수'])
print('train')

train

In [7]:
train.dtypes

단지코드          object
총세대수           int64
임대건물구분        object
지역            object
공급유형          object
              ...
ERROR1_lb      int64
나머지            int64
분양상가           int64
분양아파트          int64
등록차량수        float64
Length: 67, dtype: object

### 총세대수 범위 확인

In [8]:
train['총세대수'].unique()

array([ 900,  545, 1216,  755,  696,  566, 1722,  624,  361,  754,  240,
        688,  623,  601,  405,  518,  619,  875,  560,  595,  625,  880,
       1396,  970,  606, 1507,  639,  965,  946,  785, 2424,  809,  388,
       1013,  453,  861,  806,  903, 1116, 1486, 1957,  802, 1527, 1005,
       1988, 1350, 2428, 1755,  840,  390,  451,  410,  779,  693,  753,
        498, 1533,  711,  420,  590,  657,  495,  460,  338, 1144,  521,
       1003,  306,  697,  213,  481,  468, 1364,  800,  830,  775,  261,
        474,   72, 1473,  996,  870,  678,  632,  961, 1232,  676, 1300,
        998,  493, 1117,  307,  501,  896,  458,  290,  409,  586, 1084,
       1174,  270, 1308,  355,  384,  853,  492,  901,  815,  312,  571,
        594,  944,  635,  962,  822, 1129, 1479,  330,  386,  456,  642,
        302,  757,  705, 1072,  375, 1018,  341,  416,  708,  475,  662,
       1002,  462,  781,  496,  630,  512,  534,  762,  890,  494,  550,
        383,  882,  615,  470,  477, 1260,  773, 1124,  324, 1497,  531,
        389,  712,  561,  816,  898,  581,  851,  136,  225, 1254,  866,
        407,  720,  280,  232,  602,  522,  457,  808,  356,  283,  467,
        506,  243,  525,  445,  514,  374,  378,  277,  856,  646,  511,
        285,  256,  466,  314,  382,  212,  872,  508,  558,  758,  812,
        504,  631,  332,  747,  372,  434,  538,  718,  818, 1035,  431,
        648, 1668,  443, 1215, 1647, 1017,  589,  937,  553,  424,  499,
        200,  603,  700,  107,  318,  656,  992,  533, 1006,  478, 1339,
        600,  291,  679, 1065, 1037,  715,  790, 1099, 1128,  304,  690,
        749,  680,  376,  783, 1029,  919,  368,   70,  922,  622, 1366,
       1122,  752,  886,  552,  850,  432, 1256,  960,  874, 1106,  772,
        483, 1028,  326, 1047,  532,  791, 1401,  344,  935, 1444,  452,
       1105,  354,  268,  984, 1546,  640, 1460,  396, 1022, 1126, 1164,
        924,  340, 1684,  794, 1454,  316,  580,  198,  556,  540,  938,
       2568, 1058, 1088, 1696,  404, 1934,  295, 1550, 1618,  363,  636,
        659,  902, 1438, 2334,  528,  867,  542,  526,  947,  480,  908,
        450, 1020,  616,  820,  311,  100,  847,  203,  303, 1080,  442,
        178, 1509,  412,   26,  202, 1227, 1206, 1048, 1077,  464,  214,
        266, 1004,  954,  362, 2200,   90,   40,  239], dtype=int64)

### 수치범위 구간을 직접 정해서 레이블링 하기

* 참고: https://blog.naver.com/PostView.nhn?blogId=youji4ever&logNo=221671830297

#### 1. 고전적인 방법

In [9]:
train['총세대수_lb']=0

In [10]:
# train.loc[train['총세대수'] <=149 ,'총세대수_lb'] = 'A1'
# train.loc[(train['총세대수'] > 149) & (train['총세대수'] <= 299),'총세대수_lb' ] = 'B1'
# train.loc[(train['총세대수'] > 299) & (train['총세대수'] <= 499), '총세대수_lb' ] = 'C1'
# train.loc[(train['총세대수'] > 500), '총세대수_lb' ] = 'D1'


train.loc[train['총세대수'] <=149 ,'총세대수_lb'] = 'A1'
train.loc[(train['총세대수'] > 149) & (train['총세대수'] <= 299),'총세대수_lb' ] = 'B1'
train.loc[(train['총세대수'] > 299) & (train['총세대수'] <= 499), '총세대수_lb' ] = 'C1'
train.loc[(train['총세대수'] > 499) & (train['총세대수'] <= 999), '총세대수_lb' ] = 'D1'
train.loc[(train['총세대수'] >= 1000), '총세대수_lb' ] = 'E1'

In [11]:
# 잘들어가 있는지 확인
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,L,M,N,O,ERROR1_lb,나머지,분양상가,분양아파트,등록차량수,총세대수_lb
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,...,0,0,0,0,0,1,0,0,1015.0,D1

### 범주별 값 분포 확인하기

In [12]:
train.총세대수_lb.value_counts().to_frame().style.background_gradient(cmap='summer')

In [13]:
# train.drop(['col','col_dummies'], axis = 1)

In [14]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,L,M,N,O,ERROR1_lb,나머지,분양상가,분양아파트,등록차량수,총세대수_lb
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,...,0,0,0,0,0,1,0,0,1015.0,D1
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,...,0,0,0,0,0,1,0,0,1015.0,D1

In [15]:
train.dtypes

단지코드        object
총세대수         int64
임대건물구분      object
지역          object
공급유형        object
            ...
나머지          int64
분양상가         int64
분양아파트        int64
등록차량수      float64
총세대수_lb     object
Length: 68, dtype: object

# 파일 저장하기

In [15]:
# 총세대수 라벨링 >>'총세대수_lb' 컬럼 추가
train.to_csv('4_train_0724.csv', index=False)

#### 2.cut() 함수

### 원핫인코딩
### 방법1. pandas.get_dummies 사용
- 장점 : 간편하다
- 단점 : 인코딩의 기준을 저장한 객체가 남지 않는다. 새로운 데이터가 들어오면 기존의 데이터와 한꺼번에 실행해야한다. Encoder 객체를 저장할 경우 새로운 데이터만 돌려서 합치면 된다.

In [16]:
col = ["총세대수_lb"]
col_dummies = pd.get_dummies(train[col])
print(type(col_dummies))
print(col_dummies.shape)
col_dummies

<class 'pandas.core.frame.DataFrame'>
(2952, 5)

      총세대수_lb_A1  총세대수_lb_B1  총세대수_lb_C1  총세대수_lb_D1  총세대수_lb_E1
0              0           0           0           1           0
1              0           0           0           1           0
2              0           0           0           1           0
3              0           0           0           1           0
4              0           0           0           1           0
...          ...         ...         ...         ...         ...
2947           0           1           0           0           0
2948           0           1           0           0           0
2949           0           1           0           0           0
2950           0           1           0           0           0
2951           0           1           0           0           0

[2952 rows x 5 columns]

In [17]:
all_train= pd.concat([train, col_dummies], axis = 1)

all_train

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,나머지,분양상가,분양아파트,등록차량수,총세대수_lb,총세대수_lb_A1,총세대수_lb_B1,총세대수_lb_C1,총세대수_lb_D1,총세대수_lb_E1
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,...,1,0,0,1015.0,D1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,C2532,239,아파트,강원도,국민임대,49.20,19,7.0,A,11346000.0,...,1,0,0,146.0,B1,0,1,0,0,0
2948,C2532,239,아파트,강원도,국민임대,51.08,34,7.0,A,14005000.0,...,1,0,0,146.0,B1,0,1,0,0,0
2949,C2532,239,아파트,강원도,국민임대,51.73,34,7.0,A,14005000.0,...,1,0,0,146.0,B1,0,1,0,0,0
2950,C2532,239,아파트,강원도,국민임대,51.96,114,7.0,A,14005000.0,...,1,0,0,146.0,B1,0,1,0,0,0
2951,C2532,239,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,...,1,0,0,146.0,B1,0,1,0,0,0

In [19]:
all_train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철', '버스정류장', '단지내주차면수', 'ERROR1',
       '임대건물구분_lb', '상가', '아파트', '지역_lb', '강원도', '경기도', '경상남도', '경상북도',
       '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '전라남도',
       '전라북도', '제주특별자치도', '충청남도', '충청북도', '공급유형_lb', '공공분양', '공공임대(10년)',
       '공공임대(50년)', '공공임대(5년)', '공공임대(분납)', '국민임대', '영구임대', '임대상가', '장기전세',
       '행복주택', '자격유형_lb', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
       'K', 'L', 'M', 'N', 'O', 'ERROR1_lb', '나머지', '분양상가', '분양아파트', '등록차량수',
       '총세대수_lb', '총세대수_lb_A1', '총세대수_lb_B1', '총세대수_lb_C1', '총세대수_lb_D1',
       '총세대수_lb_E1'],
      dtype='object')

## 파일 저장하기

In [21]:
# 총세대수lb >> A1~E1 컬럼 추가
all_train.to_csv('4_train.csv', index=False)

### 방법2. sklearn.preprocessing.OneHotEncoder 사용
- 주의할 점 : 원핫 인코더로 변환하기 전에 라벨인코더를 통해 모든 문자열이 숫자형 값으로 변환되어야 한다.
- 따라서, '총세대_lb' 컬럼이 object(문자형) 이므로, 사용 불가능

In [21]:
all_train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,M,N,O,등록차량수,총세대수_lb,총세대수_lb_A1,총세대수_lb_B1,총세대수_lb_C1,총세대수_lb_D1,총세대수_lb_E1
0,ERR04_2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000.0,...,0.0,0.0,0.0,1015.0,D1,0,0,0,1,0
1,ERR04_2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000.0,...,0.0,0.0,0.0,1015.0,D1,0,0,0,1,0
2,ERR04_2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000.0,...,0.0,0.0,0.0,1015.0,D1,0,0,0,1,0
3,ERR04_2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000.0,...,0.0,0.0,0.0,1015.0,D1,0,0,0,1,0
4,ERR04_2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000.0,...,0.0,0.0,0.0,1015.0,D1,0,0,0,1,0

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# from sklearn.preprocessing import OneHotEncoder

# # col = ['임대건물구분','지역',"공급유형","자격유형"]
# col = '임대건물구분'

# lb_encoder =LabelEncoder()
# lb_encoder.fit(all_df[col]) # 1. encoder 객체가 데이터를 학습
# lbs = lb_encoder.transform(all_df[col]) # 2. 학습한 기준으로 레이블링
# lbs = lbs.reshape(-1,1) # 3. OneHotEncoder에 입력하기 위해 reshape
# # lbs = lb_encoder.fit_transform(all_df[col]).reshape(-1,1) # 위의 1~3 과정을 한꺼번에

# oh_encoder = OneHotEncoder()
# oh_encoder.fit(lbs)  # 1. encoder 객체가 데이터를 학습
# ohs = oh_encoder.transform(lbs) # 2. 학습한 기준으로 레이블링
# # ohs = oh_encoder.fit_transform(lbs).toarray() # 위의 1~2 과정을 한번에 + array 형태로 변경

# print(type(ohs))
# print(ohs.shape)
# print(ohs.toarray())
# ohs = ohs.toarray()

In [95]:
# 원핫인코딩 확인 ????
# print(np.unique(ohs[:,0], return_counts=True))
# print(train[col].value_counts())

NameError: name 'ohs' is not defined

In [117]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

cols = ['총세대수_lb_A1','총세대수_lb_B1','총세대수_lb_C1', '총세대수_lb_D1']
for col in cols :

    lb_encoder =LabelEncoder()
    lbs = lb_encoder.fit_transform(train[col])
    
    train['총세대수_lb_A1','총세대수_lb_B1','총세대수_lb_C1', '총세대수_lb_D1'] = lbs # all_df에 col+'_lb' 열 추가
    lbs = lbs.reshape(-1,1) 
    col_names = lb_encoder.classes_
    col_dict = {idx : name for idx, name in enumerate(col_names)} # all_df 칼럼명 설정하기 위해 dict 형태로 저장
    print(col_dict) 
    
    oh_encoder = OneHotEncoder()
    ohs = oh_encoder.fit_transform(lbs).toarray() 
    
    train = pd.concat([train, pd.DataFrame(ohs)], axis=1)
    train.rename(columns=col_dict, inplace=True)
    
print(train.columns)
train

KeyError: '총세대수_lb_A1'

In [43]:
# 데이터 train을 '총세대수' 컬럼의 값을 기준으로 정렬합니다.
# 기본 정렬 방식은 오름차순(ascending)입니다.
# 내림차순으로 정렬하고 싶다면 ascending 옵션을 False로 설정하면 됩니다.

#방법1 
sorted_by_values = train.sort_values(by='총세대수' ,ascending=True)


# 방법2
# sorted_by_values = train.sort_values(by=['총세대수'] ,axis=0)


# 정렬 결과를 출력합니다.
sorted_by_values.tail()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,G,H,I,J,K,L,M,N,O,등록차량수
987,C1368,1000,아파트,경상북도,국민임대,39.82,176,29.0,A,13731000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,861.0
988,C1368,1000,아파트,경상북도,국민임대,46.90,180,29.0,A,18726000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,861.0
989,C1368,1000,아파트,경상북도,국민임대,51.93,450,29.0,A,22969000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,861.0
980,C1234,1000,아파트,강원도,국민임대,59.57,92,1.0,A,26054000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,311.0
2951,C2532,1000,아파트,강원도,국민임대,54.95,19,7.0,A,14830000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146.0