In [1]:
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import rc, rcParams

warnings.filterwarnings('ignore')
rc('font', family='AppleGothic')
rcParams['axes.unicode_minus']= False

In [2]:
train = pd.read_csv("data/2_train.csv")
test = pd.read_csv("data/2_test.csv")

train.shape

(2952, 67)

In [3]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,J,K,L,M,N,O,ERROR1_lb,나머지,분양상가,분양아파트
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,...,0,0,0,0,0,0,0,1,0,0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,...,0,0,0,0,0,0,0,1,0,0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000.0,...,0,0,0,0,0,0,0,1,0,0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000.0,...,0,0,0,0,0,0,0,1,0,0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
test.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '지하철', '버스정류장', '단지내주차면수', 'ERROR1',
       '임대건물구분_lb', '상가', '아파트', '지역_lb', '강원도', '경기도', '경상남도', '경상북도',
       '광주광역시', '대구광역시', '대전광역시', '부산광역시', '서울특별시', '세종특별자치시', '울산광역시', '전라남도',
       '전라북도', '제주특별자치도', '충청남도', '충청북도', '공급유형_lb', '공공분양', '공공임대(10년)',
       '공공임대(50년)', '공공임대(5년)', '공공임대(분납)', '국민임대', '영구임대', '임대상가', '장기전세',
       '행복주택', '자격유형_lb', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J',
       'K', 'L', 'M', 'N', 'O', 'ERROR1_lb', '나머지', '분양상가', '분양아파트'],
      dtype='object')

### 총세대수 자료형을 numeric으로 변경

원해 object 자료형이었던 '총세대수'자료형을 숫자형으로 바꿔준다.

* 참고: https://sikaleo.tistory.com/39

In [5]:
test['총세대수'] = pd.to_numeric(test['총세대수'])
print('test')

test

In [6]:
test.dtypes

단지코드         object
총세대수          int64
임대건물구분       object
지역           object
공급유형         object
              ...
O             int64
ERROR1_lb     int64
나머지           int64
분양상가          int64
분양아파트         int64
Length: 66, dtype: object

In [7]:
test['총세대수'].unique()

array([ 754, 1354,  619,  593, 1297, 1974, 1349,  533,  470,  353,  548,
       1505,  427,  383, 2572,  420,  602,  371, 1245,  962, 1400,  534,
        558,  638,  494, 1021, 1161,  709,  496,  584, 1301,  207,  620,
        312,  627,  408,  498,  663,  980,  419,  540,  528,  898, 1442,
        449,  603,  377,  891,  349, 1138,  861,  656,  262,  801,  307,
        525,  203,  385,  557, 1044,  503,  225,  327,  828, 1008,  531,
        977,  321,  618,  948,  981,  388,  643,  708,  976,  860, 1267,
        359,  244,  320,  332,  284,  511,  354, 1175,  879,  794,  335,
        745, 1414, 1385,  659, 1147,  964, 1060,  826,  456,  687,  488,
        728,  736, 1331,  737, 1191,  296,  538,  765, 1124, 1390, 1278,
        190,  178,  990,  595,  963,  626,  906,  565,  482, 1054,  480,
        900,  674,  150,   75,  395,  848,  465,  469,  453,  864,  873,
        954,  100,  214,  328,  554,  596,  120,  675,  382], dtype=int64)

In [8]:
test['총세대수_lb']=0

In [9]:

test.loc[test['총세대수'] <=149 ,'총세대수_lb'] = 'A1'
test.loc[(test['총세대수'] > 149) & (test['총세대수'] <= 299),'총세대수_lb' ] = 'B1'
test.loc[(test['총세대수'] > 299) & (test['총세대수'] <= 499), '총세대수_lb' ] = 'C1'
test.loc[(test['총세대수'] > 499) & (test['총세대수'] <= 999), '총세대수_lb' ] = 'D1'
test.loc[(test['총세대수'] >= 1000), '총세대수_lb' ] = 'E1'

In [10]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,K,L,M,N,O,ERROR1_lb,나머지,분양상가,분양아파트,총세대수_lb
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,...,0,0,0,0,0,0,1,0,0,D1
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,...,0,0,0,0,0,0,1,0,0,D1
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000.0,...,0,0,0,0,0,0,1,0,0,D1
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000.0,...,0,0,0,0,0,0,1,0,0,D1
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,...,0,0,0,0,0,0,1,0,0,D1

In [11]:
test.총세대수_lb.value_counts().to_frame().style.background_gradient(cmap='summer')

In [12]:
test.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,K,L,M,N,O,ERROR1_lb,나머지,분양상가,분양아파트,총세대수_lb
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,...,0,0,0,0,0,0,1,0,0,D1
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,...,0,0,0,0,0,0,1,0,0,D1
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000.0,...,0,0,0,0,0,0,1,0,0,D1
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000.0,...,0,0,0,0,0,0,1,0,0,D1
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,...,0,0,0,0,0,0,1,0,0,D1

In [13]:


test.dtypes

단지코드         object
총세대수          int64
임대건물구분       object
지역           object
공급유형         object
              ...
ERROR1_lb     int64
나머지           int64
분양상가          int64
분양아파트         int64
총세대수_lb      object
Length: 67, dtype: object

In [14]:
col = ["총세대수_lb"]
col_dummies = pd.get_dummies(test[col])
print(type(col_dummies))
print(col_dummies.shape)
col_dummies

<class 'pandas.core.frame.DataFrame'>
(1008, 5)

      총세대수_lb_A1  총세대수_lb_B1  총세대수_lb_C1  총세대수_lb_D1  총세대수_lb_E1
0              0           0           0           1           0
1              0           0           0           1           0
2              0           0           0           1           0
3              0           0           0           1           0
4              0           0           0           1           0
...          ...         ...         ...         ...         ...
1003           0           0           0           1           0
1004           0           0           1           0           0
1005           0           0           1           0           0
1006           0           0           1           0           0
1007           0           0           1           0           0

[1008 rows x 5 columns]

In [15]:
all_test= pd.concat([test, col_dummies], axis = 1)
all_test

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,...,ERROR1_lb,나머지,분양상가,분양아파트,총세대수_lb,총세대수_lb_A1,총세대수_lb_B1,총세대수_lb_C1,총세대수_lb_D1,총세대수_lb_E1
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000.0,...,0,1,0,0,D1,0,0,0,1,0
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000.0,...,0,1,0,0,D1,0,0,0,1,0
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000.0,...,0,1,0,0,D1,0,0,0,1,0
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000.0,...,0,1,0,0,D1,0,0,0,1,0
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000.0,...,0,1,0,0,D1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003,C1267,675,아파트,경상남도,행복주택,36.77,126,38.0,L,NaN,...,1,0,1,0,D1,0,0,0,1,0
1004,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000.0,...,1,0,1,0,C1,0,0,1,0,0
1005,C2189,382,아파트,전라북도,국민임대,29.19,20,45.0,H,6872000.0,...,1,0,1,0,C1,0,0,1,0,0
1006,C2189,382,아파트,전라북도,국민임대,39.45,202,45.0,H,13410000.0,...,1,0,1,0,C1,0,0,1,0,0
1007,C2189,382,아파트,전라북도,국민임대,46.23,60,45.0,H,18689000.0,...,1,0,1,0,C1,0,0,1,0,0

In [16]:
all_test.to_csv('4_test.csv', index=False)